
.context-title {
  padding: 10px 0 0;
  text-align: center;
}

/* .context-title span {
  font-weight: bold;
} */

.context-example {
  background-color: #fff;
  padding: 10px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.function, .class {
  margin: 10px 20px;
}

.context-button {
  margin-bottom: 10px;
}

.context-list {
  padding: 0 25px 10px;
  margin: 0 20px;
  align-self:center;

}
