.counter {
  /* border: 2px solid red; */
  padding: 10px;
  margin-bottom: 10px;
  display:inline-flex;
  justify-content:space-between;
  align-items: center;
  width: 100px;
  background-color: #fff;
  border-radius: 20px;
}

.counter-title {
  padding: 10px 10px 20px;
  text-align: center;
}

/* .counter-title  span {
  font-weight: bold;
} */